body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;

}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../imgs/hbd.jpg");
  min-height: 100%;
}
.hbd
{
  background-color: black;
  background-image: url("../imgs/book.jpg");
}

.w3-bar .w3-button {
  padding: 16px;
}

/* search bar*/

* {
  box-sizing: border-box;
}

form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;

}

form.search::after {
  content: "";
  clear: both;
  display: table;
}
